<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> - Details</title>
</head>
<body>
    
    <h1><%= product.name %></h1>
    <h3>Price: Rs. <%= product.price %></h3>
    <h3>Rating: <%= product.rating %></h3>
    <h3>Categories: </h3>
    <% for(let category of product.categories) { %>
        <%= category %>
    <% } %>

    <form action="/products/<%= product._id %>/edit" method="post">
        <button type="submit">Edit product</button>
    </form>

    <form action="/products/<%= product._id %>?_method=DELETE" method="post">
        <button type="submit">Delete product</button>
    </form>

    <a href="/products/home">Go home</a>

</body>
</html>