<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= found.name %></title>
</head>
<body>

    <form action="/products/<%= found._id %>/details?_method=PUT" method="post">
        <label for="name">Edit name</label>
        <input type="text" name="name" id="name" value="<%= found.name %>">

        <label for="price">New Price</label>
        <input type="number" id="price" name="price" value="<%= found.price %>">

        <div>Categories: </div>
        <% found.categories.forEach((category, index) => { %>
            <div><input type="text" name="categories[]" value="<%= category %>"></div>
        <% }) %>

            <button>Submit</button>

    </form>
    
</body>
</html>